body {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 150px;
  height: 50px;
  font-weight: 700;
  border-radius: 0;
  border: 0;
  color: white;
  background-color: rgb(167, 167, 167);
  position: relative;
}

button div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  left: 138px;
  bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

button:hover {
  cursor: pointer;
  background-color: red;
  transition-duration: 1s;
}

button:hover div {
  z-index: -1;
  transition-duration: 0.7s;
  left: 90px;
  bottom: 25px;
  transition-timing-function: linear;
}
