body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.box {
  width: 600px;
  height: 380px;
  border: 2px inset black;
  padding: 20px 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.boxIn {
  position: absolute;
  left: 90px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.space {
  margin-bottom: 15px;
}

label {
  margin-right: 30px;
}

#fname {
  margin-left: 70px;
}

#lastname {
  margin-left: 63px;
}

#e-mail {
  margin-left: 42px;
}

#phone {
  margin-left: 63px;
}

#age {
  margin-left: 70px;
}

#birth-date {
  margin-left: 10px;
}

.gender {
  margin-left: 60px;
}

#check {
  margin-left: 14px;
}

.sondgoi {
  height: auto;
  width: auto;
  background-color: white;
  position: absolute;
  bottom: 738px;
  right: 1350px;
  z-index: 1;
}

