body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

input {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: 5px rgb(69, 60, 50);
  padding-left: 25px;
  font-size: 20px;
  font-weight: 500;
  /* box-shadow: 1px 1px 2px black, -1px -1px 2px black; */
}